$hue-18: rgb(240, 72, 0); // Hue 18
$hue-51: rgb(216, 187, 24); // Hue 51
$hue-64: rgb(203, 216, 24); // Hue 64
$hue-140: rgb(24, 216, 88); // Hue 140
$hue-116: rgb(24, 216, 171); // Hue 116
$hue-215: rgb(24, 104, 216); // Hue 215
$hue-266: rgb(107, 24, 216); // Hue 266
$hue-280: rgb(152, 24, 216); // Hue 280
$hue-297: rgb(206, 24, 216); // Hue 297
$hue-325: rgb(216, 24, 136); // Hue 325
