$level-1-dark-borders: rgb(28, 32, 34); // Level 1 - Dark borders
$level-2-doc-bodies-bg: rgb(46, 54, 56); // Level 2 - Doc. bodies & BG
$level-3-body-and-headings: rgb(85, 100, 104); // Level 3 - Body and Headings
$level-4-interactive-elements: rgb(108, 127, 132); // Level 4 - Interactive elements
$level-5-placeholders: rgb(132, 149, 154); // Level 5 - Placeholders
$level-6-disabled-lines: rgb(221, 226, 227); // Level 6 - Disabled & Lines
$level-7-backgrounds: rgb(244, 245, 246); // Level 7 - Backgrounds
$white: rgb(255, 255, 255); // White
