$level-1: rgb(0, 48, 61); // Level 1
$level-2-bank-blue: rgb(0, 80, 102); // Level 2 - Bank blue
$level-3-hover: rgb(0, 148, 189); // Level 3 - Hover
$level-4-tech-blue: rgb(0, 190, 240); // Level 4 - Tech Blue
$level-5: rgb(31, 206, 255); // Level 5
$level-6: rgb(194, 242, 255); // Level 6
$level-7: rgb(235, 251, 255); // Level 7
