$success: rgb(21, 188, 139); // Level 2 - Success
$success-hover: rgb(16, 142, 104); // Level 2 - Success
$error: rgb(224, 63, 63); // Level 2 - Error
$error-hover: rgb(202, 33, 33); // Level 2 - Error
$warning: rgb(255, 164, 28); //  Level 2 - Warning
$warning-hover: rgb(230, 138, 0); //  Level 2 - Warning
$info: rgb(31, 163, 255); // Level 2 - Error
$info-hover: rgb(0, 137, 235); // Level 2 - Info
