@import '../../styles/tools/z-index.css';

:root {
  --ec-tooltip-width-value: 6px;
}

.ec-tooltip {
  @apply tw-block;

  /* base z-indexing for the tooltip */
  @mixin ec-z-level-all;

  &__inner {
    @apply tw-bg-gray-2;
    @apply tw-text-gray-8;
    @apply tw-py-12 tw-px-16;
    @apply tw-rounded;

    max-width: 260px;

    .ec-tooltip--bg-bright & {
      @apply tw-shadow-level-1;
      @apply tw-bg-gray-8;
      @apply tw-text-gray-3;
      @apply tw-border tw-border-solid tw-border-gray-6;
    }

    .ec-tooltip--bg-success & {
      @apply tw-shadow-level-1;
      @apply tw-bg-success;
    }

    .ec-tooltip--bg-error & {
      @apply tw-shadow-level-1;
      @apply tw-bg-error;
    }
  }

  &__arrow {
    @apply tw-z-tooltip;
    @apply tw-w-0 tw-h-0;
    @apply tw-border-solid tw-border-gray-2;
    @apply tw-absolute;

    margin: var(--ec-tooltip-width-value);

    .ec-tooltip--bg-bright & {
      @apply tw-border-gray-8;
    }

    .ec-tooltip--bg-success & {
      @apply tw-border-success;
    }

    .ec-tooltip--bg-error & {
      @apply tw-border-error;
    }
  }

  &[x-placement^='top'] {
    @apply tw-text-center;

    margin-bottom: var(--ec-tooltip-width-value);

    .ec-tooltip__arrow {
      @apply tw-my-0;

      border-width: var(--ec-tooltip-width-value) var(--ec-tooltip-width-value) 0 var(--ec-tooltip-width-value);
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: calc(-1 * var(--ec-tooltip-width-value) + 1px);
      left: calc(50% - var(--ec-tooltip-width-value));
    }
  }

  &[x-placement^='bottom'] {
    margin-top: var(--ec-tooltip-width-value);
    text-align: center;

    .ec-tooltip__arrow {
      @apply tw-my-0;

      border-width: 0 var(--ec-tooltip-width-value) var(--ec-tooltip-width-value) var(--ec-tooltip-width-value);
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: calc(-1 * var(--ec-tooltip-width-value) + 1px);
      left: calc(50% - var(--ec-tooltip-width-value));
    }
  }

  &[x-placement^='right'] {
    @apply tw-text-center;

    margin-left: var(--ec-tooltip-width-value);

    .ec-tooltip__arrow {
      @apply tw-mx-0;

      border-width: var(--ec-tooltip-width-value) var(--ec-tooltip-width-value) var(--ec-tooltip-width-value) 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: calc(-1 * var(--ec-tooltip-width-value) + 1px);
      top: calc(50% - var(--ec-tooltip-width-value));
    }
  }

  &[x-placement^='left'] {
    @apply tw-text-center;

    margin-right: var(--ec-tooltip-width-value);

    .ec-tooltip__arrow {
      @apply tw-mx-0;

      border-width: var(--ec-tooltip-width-value) 0 var(--ec-tooltip-width-value) var(--ec-tooltip-width-value);
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: calc(-1 * var(--ec-tooltip-width-value) + 1px);
      top: calc(50% - var(--ec-tooltip-width-value));
    }
  }
}

.ec-popover {
  @apply tw-block;

  /* base z-indexing for popover and related modifiers */
  @mixin ec-z-level-all;

  &__inner {
    @apply tw-overflow-hidden;
    @apply tw-rounded;
    @apply tw-shadow-level-0;

    &--shadow-1 {
      @apply tw-shadow-level-1;
    }

    &--shadow-2 {
      @apply tw-shadow-level-2;
    }
  }

  &[aria-hidden='true'] {
    @apply tw-invisible;
    @apply tw-opacity-0;

    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    @apply tw-visible;
    @apply tw-opacity-100;
    @apply tw-duration-150 tw-transition-opacity;
  }
}
