.ec-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;

  // If you don't want the outer columns to have margins then use .ec-grid--full-width
  &--full-width {
    @for $i from 1 through 12 {
      .ec-col-#{$i} {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// Unitless, no gutters,  infinite grid
.ec-col {
  flex: 1;
}

// Gutters and size of columns for a 12 column grid
@for $i from 1 through 12 {
  .ec-col-#{$i} {
    flex-basis: calc(100% * ( #{$i} / 12));
  }
}

// For each breakpoint
@each $breakpoint, $size in $grid-breakpoints {
  @media screen and (min-width: #{$size}) {
    .ec-grid--row {
      &-#{$breakpoint} {
        flex-direction: row;

        @for $i from 1 through 12 {
          .ec-col-#{$i} {
            margin: 12px;
          }
        }
      }

      &-reverse-#{$breakpoint} {
        flex-direction: row-reverse;
      }
    }

    .ec-grid--col {
      &-#{$breakpoint} {
        flex-direction: column;

        @for $i from 1 through 12 {
          .ec-col-#{$i} {
            margin: 12px 0;
          }
        }
      }

      &-reverse-#{$breakpoint} {
        flex-direction: column-reverse;
      }
    }
  }
}
