.browserslistrc
.cypress-cache
.dockerignore
.editorconfig
.eslintignore
.github
.out
.storybook
.stylelintignore
**/*.spec.js
**/*.story.css
**/*.story.js
**/__snapshots__/**
coverage
cypress.json
docker
Makefile
postcss.config.js
patches
public
tests/**/*
!tests/mocks/**
!tests/stubs/**
vercel.json
vite.config.js
vitest.config.ts
CODEOWNERS
*.md
