@import '../settings/colors/index';
@import '../tools/borders';
@import '../tools/v-effects';
@import '../tools/z-index';

%ec-tooltip-common {
  display: block;
}
$ec-tooltip-width-value: 6px;

.ec-tooltip {
  @extend %ec-tooltip-common;
  // base z-indexing for the tooltip
  @include z-index-all-levels;

  &__inner {
    background: $level-2-doc-bodies-bg;
    color: $white;
    padding: 10px 16px;
    max-width: 260px;

    @include shape-border-radius;

    .ec-tooltip--bg-bright & {
      @include box-shadow-level-1;

      background: $white;
      color: $level-3-body-and-headings;
      border: 1px solid $level-6-disabled-lines;
    }
  }

  &__arrow {
    @include z-index-tooltip;

    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $ec-tooltip-width-value;
    border-color: $level-2-doc-bodies-bg;

    .ec-tooltip--bg-bright & {
      border-color: $white;
    }
  }

  &[x-placement^='top'] {
    margin-bottom: $ec-tooltip-width-value;
    text-align: center;

    .ec-tooltip__arrow {
      border-width: $ec-tooltip-width-value $ec-tooltip-width-value 0 $ec-tooltip-width-value;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: calc(-#{$ec-tooltip-width-value} + 1px);
      left: calc(50% - #{$ec-tooltip-width-value});
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: $ec-tooltip-width-value;
    text-align: center;

    .ec-tooltip__arrow {
      border-width: 0 $ec-tooltip-width-value $ec-tooltip-width-value $ec-tooltip-width-value;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: calc(-#{$ec-tooltip-width-value} + 1px);
      left: calc(50% - #{$ec-tooltip-width-value});
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: $ec-tooltip-width-value;
    text-align: left;

    .ec-tooltip__arrow {
      border-width: $ec-tooltip-width-value $ec-tooltip-width-value $ec-tooltip-width-value 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: calc(-#{$ec-tooltip-width-value} + 1px);
      top: calc(50% - #{$ec-tooltip-width-value});
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: $ec-tooltip-width-value;
    text-align: left;

    .ec-tooltip__arrow {
      border-width: $ec-tooltip-width-value 0 $ec-tooltip-width-value $ec-tooltip-width-value;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: calc(-#{$ec-tooltip-width-value} + 1px);
      top: calc(50% - #{$ec-tooltip-width-value});
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// This will be deleted once we complete also the ec-tooltip migration into the _v-tooltip.css

// .ec-popover {
//   @extend %ec-tooltip-common;

//   // base z-indexing for popover and related modifiers
//   @include z-index-all-levels;

//   &__inner {
//     overflow: hidden;

//     @include shape-border-radius;
//     @include box-shadow-level-0;

//     &--shadow-1 {
//       @include box-shadow-level-1;
//     }

//     &--shadow-2 {
//       @include box-shadow-level-2;
//     }
//   }

//   &[aria-hidden='true'] {
//     visibility: hidden;
//     opacity: 0;
//     transition: opacity 0.15s, visibility 0.15s;
//   }

//   &[aria-hidden='false'] {
//     visibility: visible;
//     opacity: 1;
//     transition: opacity 0.15s;
//   }
// }
