:root,
:host {
  --ec-additional-color-level-18: 18, 72%, 47%;
  --ec-additional-color-level-51: 51, 72%, 47%;
  --ec-additional-color-level-64: 64, 72%, 47%;
  --ec-additional-color-level-140: 140, 72%, 47%;
  --ec-additional-color-level-166: 166, 72%, 47%;
  --ec-additional-color-level-215: 215, 72%, 47%;
  --ec-additional-color-level-266: 266, 72%, 47%;
  --ec-additional-color-level-280: 280, 72%, 47%;
  --ec-additional-color-level-297: 297, 72%, 47%;
  --ec-additional-color-level-325: 325, 72%, 47%;
}
