:root,
:host {
  --ec-complementary-color-level-1: var(--ec-theme-complementary-color-level-1, var(--ec-key-color-level-4));
  --ec-complementary-color-level-2: var(--ec-theme-complementary-color-level-2, var(--ec-key-color-level-2));
}
