:root {
  --ec-card-interactive-transition-duration: 0.4s;
  --ec-card-interactive-transition-timing-function: ease;
}

.ec-card {
  @apply tw-rounded tw-p-8 tw-bg-light tw-shadow-level-1;

  word-break: break-word;

  &--is-interactive {
    @apply tw-relative tw-cursor-pointer;

    transition: transform var(--ec-card-interactive-transition-duration) var(--ec-card-interactive-transition-timing-function);

    &:after {
      content: '';

      @apply tw-shadow-level-2 tw-absolute tw-top-0 tw-left-0 tw-h-full tw-opacity-0;

      width: 100%;
      z-index: -1;
      transition: opacity var(--ec-card-interactive-transition-duration) var(--ec-card-interactive-transition-timing-function);
    }

    &:hover {
      transform: translateY(-8px);

      &:after {
        @apply tw-opacity-100;
      }
    }
  }

  @screen sm {
    @apply tw-p-24;
  }
}
