:root,
:host {
  --ec-theme-key-color-level-1: 0, 0%, 12%;
  --ec-theme-key-color-level-2: 0, 0%, 20%;
  --ec-theme-key-color-level-3: 0, 0%, 37%;
  --ec-theme-key-color-level-4: 0, 0%, 47%;
  --ec-theme-key-color-level-5: 0, 0%, 57%;
  --ec-theme-key-color-level-6: 0, 0%, 88%;
  --ec-theme-key-color-level-7: 0, 0%, 96%;
  --ec-theme-gray-color-level-0: 0, 0%, 0%;
  --ec-theme-gray-color-level-1: 0, 0%, 12%;
  --ec-theme-gray-color-level-2: 0, 0%, 20%;
  --ec-theme-gray-color-level-3: 0, 0%, 37%;
  --ec-theme-gray-color-level-4: 0, 0%, 47%;
  --ec-theme-gray-color-level-5: 0, 0%, 57%;
  --ec-theme-gray-color-level-6: 0, 0%, 88%;
  --ec-theme-gray-color-level-7: 0, 0%, 96%;
  --ec-theme-gray-color-level-8: 0, 0%, 100%;
  --ec-theme-complementary-color-level-1: initial;
  --ec-theme-complementary-color-level-2: initial;
}
