:root,
:host {
  --ec-theme-key-color-level-1: 192.5, 100%, 12%;
  --ec-theme-key-color-level-2: 192.5, 100%, 20%;
  --ec-theme-key-color-level-3: 192.5, 100%, 37%;
  --ec-theme-key-color-level-4: 192.5, 100%, 47%;
  --ec-theme-key-color-level-5: 192.5, 100%, 57%;
  --ec-theme-key-color-level-6: 192.5, 100%, 88%;
  --ec-theme-key-color-level-7: 192.5, 100%, 96%;
  --ec-theme-gray-color-level-0: 192.5, 10%, 0%;
  --ec-theme-gray-color-level-1: 192.5, 10%, 12%;
  --ec-theme-gray-color-level-2: 192.5, 10%, 20%;
  --ec-theme-gray-color-level-3: 192.5, 10%, 37%;
  --ec-theme-gray-color-level-4: 192.5, 10%, 47%;
  --ec-theme-gray-color-level-5: 192.5, 10%, 57%;
  --ec-theme-gray-color-level-6: 192.5, 10%, 88%;
  --ec-theme-gray-color-level-7: 192.5, 10%, 96%;
  --ec-theme-gray-color-level-8: 192.5, 10%, 100%;
  --ec-theme-complementary-color-level-1: 184, 67%, 47%;
  --ec-theme-complementary-color-level-2: 184, 67%, 57%;
}
