:root {
  --ec-body-max-width: 1260px;
  --ec-side-panel-max-width: 352px;
  --ec-modal-sm-max-width: 680px;
  --ec-modal-lg-max-width: 1100px;
  --ec-currency-input-currencies-width: 104px;
  --ec-tooltip-width-value: 6px;
  --ec-user-info-avatar-size: 48px;
}
