@define-mixin ec-dropdown-search-item {
  padding: 8px 16px;
}

@define-mixin ec-dropdown-search-item-hover-effect {
  &:hover {
    cursor: pointer;
    background-color: theme('colors.gray.7');
    color: inherit;
  }
}
