@define-mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    @apply tw-bg-gray-8;
    @apply tw-rounded-sm;
  }

  &::-webkit-scrollbar-thumb {
    @apply tw-bg-gray-4;
    @apply tw-rounded;
  }
}

@define-mixin md-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--ec-gray-color-level-4)) transparent;

  &::-webkit-scrollbar {
    @apply tw-w-8;
  }

  &::-webkit-scrollbar-track {
    @apply tw-bg-transparent;
    @apply tw-rounded;
  }

  &::-webkit-scrollbar-thumb {
    @apply tw-rounded;
    @apply tw-bg-gray-4;
  }
}

@define-mixin small-scrollbar {
  &::-webkit-scrollbar-track {
    @apply tw-bg-transparent;
  }

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    @apply tw-bg-gray-4;

    border-radius: 10px;
  }
}
