$ec-card-interactive-transition-duration: 0.4s;
$ec-card-interactive-transition-timing-function: ease;

.ec-card {
  @include box-shadow-level-1;
  @include shape-border-radius;

  padding: 8px;
  background: $white;
  word-break: break-word;

  &--is-interactive {
    position: relative;
    cursor: pointer;
    transition: transform $ec-card-interactive-transition-duration $ec-card-interactive-transition-timing-function;

    &:after {
      @include box-shadow-level-2;

      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity $ec-card-interactive-transition-duration $ec-card-interactive-transition-timing-function;
    }

    &:hover {
      transform: translateY(-8px);

      &:after {
        opacity: 1;
      }
    }
  }

  @include media__from-sm {
    padding: 24px;
  }
}
