@import '../settings/colors/gray-color-scale';
@import '../settings/typography';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
}

// stylelint-disable selector-max-universal
*,
*:before,
*:after {
  box-sizing: inherit;
}
// stylelint-enable

body {
  @include body-text;

  font-family: $body-font-family;
  font-variant-ligatures: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

strong {
  font-weight: bolder;
}

a {
  @include body-link;
}

p {
  @include body-text;

  margin: 12px 0;
  max-width: 650px;
}

::placeholder {
  color: $level-5-placeholders;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $white;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $level-4-interactive-elements;
}
