@import '../settings/colors/gray-color-scale';
@import '../settings/typography';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
}

// stylelint-disable selector-max-universal
*,
*:before,
*:after {
  box-sizing: inherit;
}
// stylelint-enable

body {
  @include body-text;

  color: $level-3-body-and-headings;
  font-family: $body-font-family;
  font-variant-ligatures: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

a {
  @include body-link;
}

p {
  @include body-text;

  margin: 1em 0;
  max-width: 75ch;
}

::placeholder {
  color: $level-5-placeholders;
}

textarea {
  display: block;
  resize: none;
}
