@import '../tools/typography';
@import '../settings/colors/gray-color-scale';

table {
  border-spacing: 0;
  padding: 16px 0 0;
}

caption {
  @include h2;

  padding-bottom: 24px;
  text-align: left;
}

th {
  @include mini-header;
}

td {
  @include body-text;
}
