@mixin fade-transition(
  $transition-duration: 0.5s,
  $transition-timing-function: ease,
  $transition-delay: null) {
  &-enter-active,
  &-leave-active {
    transition-property: opacity;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    transition-delay: $transition-delay;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

@mixin transition-ease-out(
  $property: all
) {
  transition: $property 0.3s ease-out;
}
