@import './../settings/colors/index';

// NOTE: ALL VALUES IN PIXELS WILL BE CHANGED TO BE rem
// USE HERE IS A FIRST DRAFT FOR CONVENIENCE

@mixin h1 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
}

@mixin h2 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
}

@mixin h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

@mixin h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

@mixin h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

@mixin h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin body-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@mixin body-link {
  color: $level-4-tech-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px dashed currentColor;
  }
}

@mixin mini-header {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $level-5-placeholders;
}

@mixin small-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin caption-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $level-5-placeholders;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin btn {
  font-family: inherit;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
}
