@import '../settings/z-index';

@mixin z-index-notification {
  z-index: $z-index-notification;
}

@mixin z-index-tooltip {
  z-index: $z-index-tooltip;
}

@mixin z-index-modal {
  z-index: $z-index-modal;
}

@mixin z-index-level-1 {
  z-index: $z-index-level-1;
}

@mixin z-index-level-2 {
  z-index: $z-index-level-2;
}

@mixin z-index-level-3 {
  z-index: $z-index-level-3;
}
