@import '../settings/z-index';

@mixin z-index-notification {
  z-index: $z-index-notification;
}

@mixin z-index-tooltip {
  z-index: $z-index-tooltip;
}

@mixin z-index-modal {
  z-index: $z-index-modal;
}

@mixin z-index-level-1 {
  z-index: $z-index-level-1;
}

@mixin z-index-level-2 {
  z-index: $z-index-level-2;
}

@mixin z-index-level-3 {
  z-index: $z-index-level-3;
}

@mixin z-index-all-levels {
  @include z-index-level-1;

  &--level-2 {
    @include z-index-level-2;
  }

  &--level-3 {
    @include z-index-level-3;
  }

  &--modal {
    @include z-index-modal;
  }

  &--tooltip {
    @include z-index-tooltip;
  }

  &--notification {
    @include z-index-notification;
  }
}
