// Here we state the default value of each color, if we change a brand
// we can override the default value with something else
$ec-btn-color: $white !default;
$ec-btn-primary-color: $level-4-tech-blue !default;
$ec-btn-primary-color-hover: $level-3-hover !default;
$ec-btn-secondary-color: $level-4-interactive-elements !default;
$ec-btn-secondary-color-hover: $level-3-body-and-headings !default;
$ec-btn-success-color: $color-success !default;
$ec-btn-success-color-hover: $color-success-hover !default;
$ec-btn-error-color: $color-error !default;
$ec-btn-error-color-hover: $color-error-hover !default;
$ec-btn-warning-color: $color-warning !default;
$ec-btn-warning-color-hover: $color-warning-hover !default;
$ec-btn-disabled-color: $level-6-disabled-lines !default;

.ec-btn {
  @include btn;

  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  fill: currentColor;
  color: $ec-btn-color;
  max-width: 256px;
  cursor: pointer;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: ease-out;
  display: inline-flex;
  vertical-align: bottom;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  background-color: $ec-btn-secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &--sm {
    min-width: 32px;
    min-height: 32px;
    padding: 4px 24px;
  }

  &--md {
    min-width: 40px;
    min-height: 40px;
    padding: 8px 24px;
  }

  &--rounded {
    border-radius: 32px;
  }

  &--full-width {
    width: 100%;
  }

  &--icon-only {
    width: auto;
    border-radius: 50%;

    &.ec-btn--sm {
      padding: 4px;
    }

    &.ec-btn--md {
      padding: 8px;
    }
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: $ec-btn-disabled-color;
    color: $ec-btn-color;
    cursor: default;
    pointer-events: none;
  }

  &--primary {
    background-color: $ec-btn-primary-color;

    &:hover {
      background-color: $ec-btn-primary-color-hover;
    }
  }

  &--primary-reverse {
    color: $ec-btn-primary-color;
    background-color: $ec-btn-color;

    &:hover {
      color: $ec-btn-color;
      background-color: $ec-btn-primary-color;
    }
  }

  &--primary,
  &--primary-reverse {
    &:focus {
      box-shadow: 0 0 0 3px rgba($ec-btn-primary-color, 0.25);
    }
  }

  &--secondary {
    background-color: $ec-btn-secondary-color;

    &:hover {
      background-color: $ec-btn-secondary-color-hover;
    }
  }

  &--secondary-reverse {
    color: $ec-btn-secondary-color;
    background-color: $ec-btn-color;

    &:hover {
      color: $ec-btn-color;
      background-color: $ec-btn-secondary-color;
    }
  }

  &--secondary,
  &--secondary-reverse {
    &:focus {
      box-shadow: 0 0 0 3px rgba($ec-btn-secondary-color, 0.25);
    }
  }

  &--success {
    background-color: $ec-btn-success-color;

    &:hover {
      background-color: $ec-btn-success-color-hover;
    }
  }

  &--success-reverse {
    color: $ec-btn-success-color;
    background-color: $ec-btn-color;

    &:hover {
      color: $ec-btn-color;
      background-color: $ec-btn-success-color;
    }
  }

  &--success,
  &--success-reverse {
    &:focus {
      box-shadow: 0 0 0 3px rgba($ec-btn-success-color, 0.25);
    }
  }

  &--error {
    background-color: $ec-btn-error-color;

    &:hover {
      background-color: $ec-btn-error-color-hover;
    }
  }

  &--error-reverse {
    color: $ec-btn-error-color;
    background-color: $ec-btn-color;

    &:hover {
      color: $ec-btn-color;
      background-color: $ec-btn-error-color;
    }
  }

  &--error,
  &--error-reverse {
    &:focus {
      box-shadow: 0 0 0 3px rgba($ec-btn-error-color, 0.25);
    }
  }

  &--warning {
    background-color: $ec-btn-warning-color;

    &:hover {
      background-color: $ec-btn-warning-color-hover;
    }
  }

  &--warning-reverse {
    color: $ec-btn-warning-color;
    background-color: $ec-btn-color;

    &:hover {
      color: $ec-btn-color;
      background-color: $ec-btn-warning-color;
    }
  }

  &--warning,
  &--warning-reverse {
    &:focus {
      box-shadow: 0 0 0 3px rgba($ec-btn-warning-color, 0.25);
    }
  }

  &--outline {
    border: 1px;
    border-style: solid;
    background-color: transparent;

    &.ec-btn--primary {
      color: $ec-btn-primary-color;
      border-color: $ec-btn-primary-color;

      &:hover {
        background-color: $ec-btn-primary-color;
      }
    }

    &.ec-btn--primary-reverse {
      color: $ec-btn-color;
      border-color: $ec-btn-color;

      &:hover {
        color: $ec-btn-primary-color;
        background-color: $ec-btn-color;
      }
    }

    &.ec-btn--secondary {
      color: $ec-btn-secondary-color;
      border-color: $ec-btn-secondary-color;

      &:hover {
        background-color: $ec-btn-secondary-color;
      }
    }

    &.ec-btn--secondary-reverse {
      color: $ec-btn-color;
      border-color: $ec-btn-color;

      &:hover {
        color: $ec-btn-secondary-color;
        background-color: $ec-btn-color;
      }
    }

    &.ec-btn--success {
      color: $ec-btn-success-color;
      border-color: $ec-btn-success-color;

      &:hover {
        background-color: $ec-btn-success-color;
      }
    }

    &.ec-btn--success-reverse {
      color: $ec-btn-color;
      border-color: $ec-btn-color;

      &:hover {
        color: $ec-btn-success-color;
        background-color: $ec-btn-color;
      }
    }

    &.ec-btn--error {
      color: $ec-btn-error-color;
      border-color: $ec-btn-error-color;

      &:hover {
        background-color: $ec-btn-error-color;
      }
    }

    &.ec-btn--error-reverse {
      color: $ec-btn-color;
      border-color: $ec-btn-color;

      &:hover {
        color: $ec-btn-error-color;
        background-color: $ec-btn-color;
      }
    }

    &.ec-btn--warning {
      color: $ec-btn-warning-color;
      border-color: $ec-btn-warning-color;

      &:hover {
        background-color: $ec-btn-warning-color;
      }
    }

    &.ec-btn--warning-reverse {
      color: $ec-btn-color;
      border-color: $ec-btn-color;

      &:hover {
        color: $ec-btn-warning-color;
        background-color: $ec-btn-color;
      }
    }

    &.ec-btn--primary-reverse,
    &.ec-btn--secondary-reverse,
    &.ec-btn--success-reverse,
    &.ec-btn--error-reverse,
    &.ec-btn--warning-reverse {
      &:focus {
        box-shadow: 0 0 0 3px rgba($ec-btn-color, 0.25);
      }
    }

    &:hover {
      color: $ec-btn-color;
    }

    &:disabled {
      background-color: transparent;
      border-color: $ec-btn-disabled-color;
      color: $ec-btn-disabled-color;
      cursor: default;
      pointer-events: none;
    }
  }
}
